<template>
    <div class="col-full text-center">
        <h1>
            Not Found 
        </h1>
        <router-link :to="{ name: 'Home' }">Read some cool threads</router-link>
    </div>
</template>
<script>
export default {
    
}
</script>
<style>
    
</style>