<template>
    <div class="container">
        <div class="flex-grid">
          <div class="col-3 push-top">
              <UserProfileCard v-if="!edit" :user="authUser" />
              <UserProfileCardEditor v-else :user="authUser" />
              <p class="text-xsmall text-faded text-center">Member since june 2003, last visited 4 hours ago</p>
          </div>

          <div class="col-7 push-top">

              <div class="profile-header">
                  <span class="text-lead">
                    {{ authUser.username }}'s recent activity
                  </span>
                  <a href="#">See only started threads?</a>
              </div>

              <hr>

              <PostList :posts="authUser.posts" />
              <div class="activity-list">
                  <div class="activity">
                      <div class="activity-header">
                          <img src="https://i.imgur.com/OqlZN48.jpg" alt="" class="hide-mobile avatar-small">
                          <p class="title">
                              How can I chop onions without crying?
                              <span>Joker started a topic in Cooking</span>
                          </p>

                      </div>

                      <div class="post-content">
                        <div>
                          <p>I absolutely love onions, but they hurt my eyes! Is there a way where you can chop onions without crying?</p>
                        </div>
                      </div>

                      <div class="thread-details">
                          <span>4 minutes ago</span>
                          <span>1 comments</span>
                      </div>
                  </div>

                  <div class="activity">
                          <div class="activity-header">

                              <img src="http://i.imgur.com/s0AzOkO.png" alt="" class="hide-mobile avatar-small">

                              <p class="title">
                                  Wasabi vs horseraddish?
                                  <span>Joker replied to Robin's topic in Cooking</span>
                              </p>

                          </div>

                          <div class="post-content">
                            <div>
                              <blockquote class="small">
                                  <div class="author">
                                      <a href="/user/robin" class=""> robin</a>
                                      <span class="time">a month ago</span>
                                      <i class="fa fa-caret-down"></i>
                                  </div>

                                  <div class="quote">
                                    <p>Is horseradish and Wasabi the same thing? I&amp;#39;ve heard so many different things.</p>
                                  </div>
                              </blockquote>

                              <p>They're not the same!</p>
                            </div>
                          </div>

                          <div class="thread-details">
                              <span>2 days ago</span>
                              <span>1 comment</span>
                          </div>
                  </div>

                  <div class="activity">
                      <div class="activity-header">
                          <img src="https://i.imgur.com/OqlZN48.jpg" alt="" class="hide-mobile avatar-small">
                          <p class="title">
                              Where is the sign in button??????!?!?!?!
                              <span>Joker replied to his own topic in Questions &amp; Feedback</span>
                          </p>

                      </div>

                      <div class="post-content">
                        <div>
                          <p><strong><i>Post deleted due to inappropriate language</i></strong></p>
                        </div>
                      </div>

                      <div class="thread-details">
                          <span>7 days ago</span>
                          <span>7 comments</span>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import PostList from '../components/PostList.vue';
import UserProfileCard from '../components/UserProfileCard.vue';
import UserProfileCardEditor from '../components/UserProfileCardEditor.vue';
export default {
    components: {
        PostList,
        UserProfileCard,
        UserProfileCardEditor
    },
    props: {
      edit: { 
        type: Boolean, 
        default: false 
      }
    },
    computed: {
        ...mapGetters(["authUser"]),
    },
}
</script>