<template>
    <div class="col-large push-top">
        <h1>{{ thread.title }}</h1>
        <PostList :posts="threadPosts"/>
        <PostEditor @save-post="submitReply"/>
    </div>
</template>

<script>
    import PostList from '../components/PostList.vue'
    import PostEditor from "../components/PostEditor.vue";
    export default {
        name: 'ThreadShow',
        components: {
            PostList,
            PostEditor
        },
        mounted() {
            console.log(this.$store.state);
        },
        props: {
            id: { //<--- ini dari params route this.$route.params.id
                required: true,
                type: String
            }
        },
        computed: {
            threadData() {
                return this.$store.state.threads;
            },
            postsData() {
                return this.$store.state.posts;
            },
            thread() {
                return this.threadData.find(thread => thread.id === this.$route.params.id) //ini kalo gak pake this.id , karena this.id itu sama dengan this.$route.params.id
            },
            threadPosts() {
                return this.postsData.filter(post => post.threadId === this.id) // this.id = this.$route.params.id dari param url
            }
        },
        methods: {
            submitReply(eventData) {
                const post = {
                    ...eventData.post,
                    threadId: this.id, //this.id dari props/url
                }
                //tambah post data baru ke postsData
                this.$store.dispatch('createPost', post)
            }
        }
    }
    
</script>