<template>
    <div class="col-full push-top">

        <h1>Create new thread in <i>{{ forum.name }}</i></h1>

        <form @submit.prevent="save">
            <div class="form-group">
                <label for="thread_title">Title:</label>
                <input type="text" id="thread_title" class="form-input" name="title" v-model="title">
            </div>

            <div class="form-group">
                <label for="thread_content">Content:</label>
                <textarea id="thread_content" class="form-input" name="content" rows="8" cols="140" v-model="text"></textarea>
            </div>

            <div class="btn-group">
                <button class="btn btn-ghost">Cancel</button>
                <button class="btn btn-blue" type="submit" name="Publish">Publish </button>
            </div>
        </form>
    </div>
</template>
<script>
export default {
    props: {
        forum: {
            required: true,
            type: Object
        }
    },
    data() {
        return {
            title: '',
            text: ''
        }
    },
    methods: {
        save() {
            
        }
    }
}
</script>