<template>
    <ForumList 
        v-for="category in categories" 
        :key="category.id" 
        :forums="getForumsForCategory(category)"
        :title="category.name"
        :categoryId="category.id"
    />
</template>
<script>
import ForumList from './ForumList.vue';
export default {
    props: {
        categories: {
            required: true,
            type: Array
        }
    },
    components: {
        ForumList
    },
    methods: {
        getForumsForCategory(category) {
            return this.$store.state.forums.filter(forum => forum.categoryId === category.id)
        }
    }
}
</script>