<template>
    <form @submit.prevent="save">
        <div class="form-group">
            <textarea v-model="inputReply" cols="20" rows="5" class="form-input"></textarea>
        </div>
        <div class="form-action">
            <button class="btn-blue">Reply Post</button>
        </div>
    </form>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    data() {
        return {
            inputReply: ""
        }
    },
    methods: {
        save() {
            const post = {
                text: this.inputReply,
            }
            this.$emit('save-post', {post}); //menjalankan function save-post pada parent component
            this.inputReply = ""
        }
    },
}
</script>