<template>
    <div class="post-list">
        <div class="post" v-for="post in posts">

            <div class="user-info">
                <a href="#" class="user-name">{{ userId(post.userId).name }}</a>

                <a href="#">
                    <img class="avatar-large" :src="userId(post.userId).avatar" alt="">
                </a>

                <p class="desktop-only text-small">107 posts</p>

            </div>

            <div class="post-content">
                <div>
                    <p>
                    {{ post.text }}
                    </p>
                </div>

            </div>

            <div class="post-date text-faded">
                <!-- Component Appdate ini adalah component global , jadi tidak perlu di import di component ini
                    untuk melihat component ini bisa di cek pada file main.js
                -->
                <AppDate :timestamp="post.publishedAt" />
            </div>
            
        </div>
    </div>
</template>
<script>
export default {
    name: 'PostList',
    props: {
        posts: {
            required: true,
            type: Array
        }
    },
    data() {
        return {
            usersData: this.$store.state.users
        }
    },
    methods: {
        userId(userId) {
            return this.usersData.find(user => user.id === userId)
        },
    }
}
</script>