<template>
    <div class="col-full">

        <div class="thread-list">

            <h2 class="list-title">Threads</h2>

            <div v-for="thread in threads" :key="thread.id" class="thread">
                <div>
                    <p>
                        <router-link :to="{name: 'ThreadShow', params: { id: thread.id }}">{{ thread.title }}</router-link>
                    </p>
                    <p class="text-faded text-xsmall">
                        By <a href="#">{{ userById(thread.userId).name }}</a>, <AppDate :timestamp="thread.publishedAt" />.
                    </p>
                </div>

                <div class="activity">
                    <p class="replies-count">
                        {{ thread.posts.length }} reply
                    </p>

                    <img class="avatar-medium" :src="userById(thread.userId).avatar" alt="">

                    <div>
                        <p class="text-xsmall">
                            <a href="#">{{ userById(thread.userId).name }}</a>
                        </p>
                        <p class="text-xsmall text-faded">
                            <!-- Component Appdate ini adalah component global , jadi tidak perlu di import di component ini
                                untuk melihat component ini bisa di cek pada file main.js
                            -->
                            <AppDate :timestamp="thread.publishedAt" />
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import sourceData from "@/data.json";
    export default {
        props: {
            threads: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                posts: this.$store.state.posts,
                users: this.$store.state.users
            }
        },
        methods: {
            userById(userId) {
                return this.users.find(user => user.id === userId)
            }
        }
    }
</script>