<template>
  <main>
    <TheNavbar />
    <div class="container">
      <router-view />
    </div>
  </main>
</template>

<script>
import TheNavbar from './components/TheNavbar.vue';

export default {
    name: "App",
    components: { TheNavbar }
}
</script>

<style>
@import "assets/style.css";
</style>